.form_section,
.contacts_section,
.main_section {
  text-align: left;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: solid 1px black;
  background-color: white;
  filter: drop-shadow(2px 4px 6px black);
  padding: 25px;
  border-radius: 10px;
  margin: 50px auto;
}

.form_section {
  background-color: #ecf5f8;
  text-align: center;
}

.contacts_section {
  background-color: #f0f5e9;
}

.main_section {
  max-width: 800px;
}

.section_title {
  font-size: 28px;
  margin: 0 0 20px;
  font-weight: 700;
}
